.topnav{
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    color: #000;
    display: block;
    font-size: 12px; 
    padding: 15px 15px; 
    text-align: center;
    text-decoration: none;
}

/*removed but highlights active button in the top nav bar*/
.topnav a.active{
    color: rgb(199, 81, 81);
}

.button{
    background-color: #4285f4;
    border-radius: 4px;
    font-size: 12px;
    padding:10px 15px;
    color: white;
    text-align: center;
    font-weight: bold;
}


.center{
    position: fixed;
    top: 40%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
}

.botnav{
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: #C0C0C0;
}